.footers{
    width: 100%;
    min-height: 40vh;
    background: linear-gradient(to bottom left,rgb(255, 255, 255),rgb(179, 205, 179),rgb(255, 255, 255)) ;
}

.foot1{
    height: 30vh;
}

@media screen and (min-width: 768px) and (max-width:1023px){
    .foot1{
        height: 5vh;
    }
    .footers{
        min-height: 5vh;

    }
}
@media screen and (min-width: 1280px) and (height:800px){
    .foot1{
        height: 20vh;
    }
    .footers{
        min-height: 5vh;
    }
}




