.forhomeone{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to bottom right,rgb(255, 255, 255),rgb(179, 205, 179),rgb(255, 255, 255)) ;
}

.flexdone{
    display: flex;
    width:50%;
    min-height: 75vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: linear-gradient(to top right,#bbd2c5,#536976,#292e49 );
    border-top-left-radius: 10em;
    border-bottom-left-radius: 10em;
    border: 1.5px ridge none rgb(57, 70, 64) ;      
}

.oneimg{
    width: 8.5rem;
    height: 8.5rem;
    margin-top: 1.8rem;
    margin-right: 5rem;
    position: relative;
    animation-name: swipe;
    animation-duration: 4s ;
    animation-iteration-count:infinite;
    z-index: 1;
}
.twoimg{
    width: 14rem;
    height: 14rem;
    margin-top: 1.8rem;
    position: relative;
    z-index:0;
}
.threeimg{
    width: 8.5rem;
    height: 8.5rem;
    margin-top: 1.8rem;
    margin-right:5rem;
    position:relative; 
    right : 6rem;
    animation-name: swipe2;
    animation-delay: 0.7s;
    animation-duration: 4s ;
    animation-iteration-count:infinite;
    opacity: 0;

}

@keyframes swipe {
    0%   {opacity:1; left:0rem; top:0rem;}
    25%  {opacity:0; left:13rem; top:0rem;}
}

@keyframes swipe2 {
    0%   { left:0rem; top:0rem;opacity:0;}
    25%  { left :5rem; top:0rem;opacity:1} 
}


@media screen and (min-width:320px) and (max-width:480px){
  .flexdone{
    width:90%;
    min-height: 45vh;
    margin-top: 2rem;
    overflow: hidden;
    margin-left: 2.4rem;
  }
  .oneimg,.threeimg{
    width: 4rem;
    height: 4rem;
    margin-left: 1rem;
  }

  @keyframes swipe {
    0%   {opacity:1; left:0rem; top:0rem;}
    25%  {opacity:0; left:8rem; top:0rem;}
  }
  @keyframes swipe2 {
    0%   { left:0rem; top:0rem;opacity:0;}
    25%  { left :1.6rem; top:0rem;opacity:1} 
  }
  .twoimg{
    width: 8rem;
    height: 8rem;
  }
}

@media screen and (min-width:768px) and (max-width:1023px){
  .forhomeone{
    min-height: 50vh;
  }
  .flexdone{
    width:80%;
    min-height: 35vh;
    margin-top: 2rem;
    overflow: hidden;
  }
  .oneimg,.threeimg{
    width: 6rem;
    height: 6rem;
    margin-left: 1rem;
  }
  .twoimg{
    width: 13rem;
    height: 12rem;
  }
  @keyframes swipe {
    0%   {opacity:1; left:0rem; top:0rem;}
    25%  {opacity:0; left:8rem; top:0rem;}
  }
  @keyframes swipe2 {
    0%   { left:0rem; top:0rem;opacity:0;}
    25%  { left :1.5rem; top:0rem;opacity:1} 
  }
}

@media screen and (min-width: 1200px) and (max-width:1365px)  {
      .flexdone{
        min-height: 70vh;
      }
      .oneimg{
        width: 7rem;
        height: 7rem;
        margin-right: 7rem;
      }
      .twoimg{
        width: 12rem;
        height: 12rem;
      }
      .threeimg{
        width: 7rem ;
        height: 7rem;
        margin-right: 7rem;
      }
}

@media screen and (min-width:1240px){
  .flexdone{
    min-height: 70vh;
  }
  .oneimg{
    width: 7rem;
    height: 7rem;
    margin-right: 7rem;
    margin-left: 2rem;
  }
  .twoimg{
    width: 13rem;
    height: 13rem;
  }
  .threeimg{
    width: 7rem ;
    height: 7rem;
    margin-right: 9rem;
  }
}

@media screen and (min-width:1367px) and (min-width: 1920px)  {
      .flexdone{
        min-height: 85vh;
      }
      .oneimg{
        width: 13rem;
        height: 13rem;
        margin-right: 7rem;
      }
      .twoimg{
        width: 18rem;
        height: 18rem;
      }
      .threeimg{
        width: 12rem ;
        height: 12rem;
        margin-right: 7rem;
      }
}
    
    


